.mainPage {
  display: grid;
  height: 100%;

  grid-template-rows: max-content auto max-content;
  grid-template-columns: 1fr;

  row-gap: 10px;

  background-color: var(--color-back-sky);

  padding-left: 15px;
  padding-right: 15px;

  padding-top: 20px;
  padding-bottom: 20px;
}
