.listbox {
  width: 100%;

  border-color: var(--color-border-gray);
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;

  /* offset-x offset-y blur-radius color */
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);

  background-color: var(--color-white);
}

.listboxRow {
  width: 100%;

  padding-left: 10px;
  padding-right: 10px;

  border-style: none;
  border-bottom-style: solid;

  border-color: var(--color-border-gray);
  border-width: 2px;
}

.listboxSelectedRow {
  background-color: var(--color-yellow);
}

.listboxText {
  font-size: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;

  padding-top: 10px;
  padding-bottom: 10px;
}
