:root {
  --color-back-sky: #e3f4ff;
  --color-text: #5b5b5b;
  --color-border-gray: #d6d6d6;
  --color-lite-gray: #eeeeee;
  --color-white: #ffffff;

  --color-blue-dark: #7aa2bd;
  --color-blue-lite: #aac4d5;
  --color-yellow: #ffefa4;
}
